@model AspnetCoreWithMvc.Models.Book

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    this is the index page
</p>

<p>
    <div>
        @Model.Title
    </div>
    <div>
        @Model.Publisher
    </div>

</p>

